[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]

[dev-packages]

[requires]
alembic
Flask_Bcrypt
Flask_Cors
Flask_Migrate
flask_sqlalchemy
ipdb
python-dotenv
SQLAlchemy
gunicorn
psycopg2
Flask
sqlalchemy-serializer

python_version = "*"

